body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("./space.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
.header img {
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
    object-position: center;
    margin-left: 50px;
}

#characterName {
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 30px;
}

.characterLogoContainer {
    display:flex;
    justify-content: center;
}

.characterLogo {
    margin: 5px;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.characterLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.arrowKeys {
    display: flex;
    align-items: center;
}

.leftArrow,
.rightArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px;
    margin: 10px;
    font-size: 80px;
    color: rgb(255, 0, 0);
}

.audio-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: red;
  }
  
  .audio-container audio {
    width: 100%;
    max-width: 500px; 
  }

  .dataContainer {
    margin-top: 150px;
    color: red;
    font-size: 24px;
  }

  .characterBody {
    margin-top: 150px;
  }